<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>CSS Stats</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/basic.css" />
    <script src="/js/modernizr.custom.js"></script>
  </head>
  <body>
    <main class="container">

      <header class="header">
        <h1 class="header__logo">
          <span class="header__title">CSS-Stats</span>
          <i class="icon--glass"></i>
        </h1>
        <div class="loader">
          <svg class="loader__inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="loader__circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="loader__circle" class="loader__circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          </svg>
        </div>
      </header>

      <div class="content">
        {% block body %}{% endblock %}
      </div>

    </main>

    <script src="/js/main-min.js"></script>
  </body>
</html>

